### Fifa Data Cleaning March  presented by Dennis .T . Bijah

### Introduction
This project focuses on performing Data Cleaning On a FIFA data over a specific period of time .This project provides a thorough understanding of the data, cleaning, and exploring relationships between variables.

#### Here is a brief documentation for each column name in the given dataset:

* photoUrl: The URL of the player's photo.
* LongName: The full name of the player.
* playerUrl: The URL of the player's page on sofifa.com.
* Nationality: The nationality of the player.
* Positions: The positions the player can play.
* Name: The short name of the player.
* Age: The age of the player.
* OVA: The overall rating of the player in FIFA 21.
* POT: The potential rating of the player in FIFA 21.
* Team & Contract: The team the player is playing for in FIFA 21, along with their contract details.
* ID: The unique identifier for the player.
* Height: The height of the player in feet and inches.
* Weight: The weight of the player in pounds.
* foot: The preferred foot of the player.
* BOV: The best overall rating the player has achieved in their career.
* BP: The best position the player has played in their career.
* Growth: The difference between the potential rating and overall rating of the player.
* Joined: The date the player joined their current team in FIFA 21.
* Loan Date End: The date the player's loan contract ends.
* Value: The market value of the player in FIFA 21.
* Wage: The weekly wage of the player in FIFA 21.
* Release Clause: The release clause value of the player in FIFA 21.
* Attacking: The attacking attributes of the player.
* Crossing: The crossing attribute of the player.
* Finishing: The finishing attribute of the player.
* Heading Accuracy: The heading accuracy attribute of the player.
* Short Passing: The short passing attribute of the player.
* Volleys: The volleys attribute of the player.
* Skill: The skill attributes of the player.
* Dribbling: The dribbling attribute of the player.
* Curve: The curve attribute of the player.
* FK Accuracy: The free kick accuracy attribute of the player.
* Long Passing: The long passing attribute of the player.
* Ball Control: The ball control attribute of the player.
* Movement: The movement attributes of the player.
* Acceleration: The acceleration attribute of the player.
* Sprint Speed: The sprint speed attribute of the player.
* Agility: The agility attribute of the player.
* Reactions: The reactions attribute of the player.
* Balance: The balance attribute of the player.
* Power: The power attributes of the player.
* Shot Power: The shot power attribute of the player.
* Jumping: The jumping attribute of the player.
* Stamina: The stamina attribute of the player.
* Strength: The strength attribute of the player.
* Long Shots: The long shots attribute of the player.
* Mentality: The mentality attributes of the player.
* Aggression: The aggression attribute of the player.
* Interceptions: The interceptions attribute of the player.
* Positioning: The positioning attribute of the player.
* Vision: The vision attribute of the player.
* Penalties: The penalties attribute of the player.
* Composure: The composure attribute of the player.
* Defending: The defending attributes of the player.
* Marking: The marking attribute of the player.
* Standing Tackle: The standing tackle attribute of the player.
* Sliding Tackle: The sliding tackle attribute of the player.
* Goalkeeping: The goalkeeping attributes of the player.
* GK Diving: The goalkeeper diving attribute of the player.
* GK Handling: The goalkeeper handling attribute of the player.
* GK Kicking: The goalkeeper kicking attribute of the player.
* GK Positioning: The goalkeeper positioning attribute of the player.
* GK Reflexes: This refers to the goalkeeper's ability to react and make saves quickly.
* Total Stats: This refers to the overall rating of the player based on their performance in all areas of the game.
* Base Stats: This refers to the player's rating in the six main areas of the game: Pace, Shooting, Passing, Dribbling, - Defending, and Physicality.
* W/F: This refers to the player's weaker foot ability.
* SM: This refers to the player's skill moves ability.
* A/W: This refers to the player's attacking work rate. It measures how frequently the player participates in attacking actions, such as making runs or positioning themselves in the opponent's half.
* D/W: This refers to the player's defensive work rate. It measures how frequently the player participates in defensive actions, such as tracking back or making tackles.
* IR: This refers to the player's injury resistance. It measures the player's ability to avoid injuries and how quickly they recover from them.
* PAC: This refers to the player's pace or speed attribute. It measures how quickly the player can move with and without the ball.
* SHO: This refers to the player's shooting ability. It measures the player's accuracy and power when shooting the ball.
* PAS: This refers to the player's passing ability. It measures the player's accuracy and range when passing the ball.
* DRI: This refers to the player's dribbling ability. It measures the player's agility, balance, and ball control when dribbling the ball.
* DEF: This refers to the player's defensive ability. It measures the player's ability to tackle, intercept, and defend against opposing players.
* PHY: This refers to the player's physicality or strength. It measures the player's ability to win physical battles and maintain possession of the ball.
* Hits: This refers to the number of times the player's profile has been viewed on the website.

In [1]:
#Importing the initial required libraries 
import pandas as pd
import numpy as np
import matplotlib as plt
import re

In [2]:
#Reading in the data (CSV)
fifa_data = pd.read_csv('fifa21 raw data v2.csv')

C:\Users\USER\AppData\Local\Temp\ipykernel_20376\3707508268.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  fifa_data = pd.read_csv('fifa21 raw data v2.csv')

### Getting an overview of the data
* Some basic information about our data include:
* First & last 5 rows of our dataset
* Some description
* All the column names

In [3]:
fifa_data.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [4]:
fifa_data.tail()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
18974,247223,Xia Ao,Ao Xia,https://cdn.sofifa.com/players/247/223/21_60.png,http://sofifa.com/player/247223/ao-xia/210006/,China PR,21,47,55,\n\n\n\nWuhan Zall,...,Medium,Medium,1 ★,64,28,26,38,48,51,NaN
18975,258760,B. Hough,Ben Hough,https://cdn.sofifa.com/players/258/760/21_60.png,http://sofifa.com/player/258760/ben-hough/210006/,England,17,47,67,\n\n\n\nOldham Athletic,...,Medium,Medium,1 ★,64,40,48,49,35,45,NaN
18976,252757,R. McKinley,Ronan McKinley,https://cdn.sofifa.com/players/252/757/21_60.png,http://sofifa.com/player/252757/ronan-mckinley...,England,18,47,65,\n\n\n\nDerry City,...,Medium,Medium,1 ★,63,39,44,46,40,53,NaN
18977,243790,Wang Zhen'ao,Zhen'ao Wang,https://cdn.sofifa.com/players/243/790/21_60.png,http://sofifa.com/player/243790/zhenao-wang/21...,China PR,20,47,57,\n\n\n\nDalian YiFang FC,...,Medium,Medium,1 ★,58,49,41,49,30,44,NaN
18978,252520,Zhou Xiao,Xiao Zhou,https://cdn.sofifa.com/players/252/520/21_60.png,http://sofifa.com/player/252520/xiao-zhou/210006/,China PR,21,47,57,\n\n\n\nDalian YiFang FC,...,Medium,Medium,1 ★,62,22,39,42,45,55,NaN

In [5]:
#Shape of the dataset(rows and columns)
fifa_data.shape

(18979, 77)

In [6]:
# Getting a brief information about the Data 
fifa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                18979 non-null  int64
 1   Name              18979 non-null  object
 2   LongName          18979 non-null  object
 3   photoUrl          18979 non-null  object
 4   playerUrl         18979 non-null  object
 5   Nationality       18979 non-null  object
 6   Age               18979 non-null  int64
 7   ↓OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Club              18979 non-null  object
 10  Contract          18979 non-null  object
 11  Positions         18979 non-null  object
 12  Height            18979 non-null  object
 13  Weight            18979 non-null  object
 14  Preferred Foot    18979 non-null  object
 15  BOV               18979 non-null  int64
 16  Best Position     18979 non-null  object
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              16384 non-null  object
dtypes: int64(54), object(23)
memory usage: 11.1+ MB

### This shows us the following:
* There are Null/Missing values
* There are two data types.
* Memory usage is about 11.1 MB

In [7]:
fifa_data.head()

,ID,Name,LongName,photoUrl,playerUrl,Nationality,Age,↓OVA,POT,Club,...,A/W,D/W,IR,PAC,SHO,PAS,DRI,DEF,PHY,Hits
0,158023,L. Messi,Lionel Messi,https://cdn.sofifa.com/players/158/023/21_60.png,http://sofifa.com/player/158023/lionel-messi/2...,Argentina,33,93,93,\n\n\n\nFC Barcelona,...,Medium,Low,5 ★,85,92,91,95,38,65,771
1,20801,Cristiano Ronaldo,C. Ronaldo dos Santos Aveiro,https://cdn.sofifa.com/players/020/801/21_60.png,http://sofifa.com/player/20801/c-ronaldo-dos-s...,Portugal,35,92,92,\n\n\n\nJuventus,...,High,Low,5 ★,89,93,81,89,35,77,562
2,200389,J. Oblak,Jan Oblak,https://cdn.sofifa.com/players/200/389/21_60.png,http://sofifa.com/player/200389/jan-oblak/210006/,Slovenia,27,91,93,\n\n\n\nAtlético Madrid,...,Medium,Medium,3 ★,87,92,78,90,52,90,150
3,192985,K. De Bruyne,Kevin De Bruyne,https://cdn.sofifa.com/players/192/985/21_60.png,http://sofifa.com/player/192985/kevin-de-bruyn...,Belgium,29,91,91,\n\n\n\nManchester City,...,High,High,4 ★,76,86,93,88,64,78,207
4,190871,Neymar Jr,Neymar da Silva Santos Jr.,https://cdn.sofifa.com/players/190/871/21_60.png,http://sofifa.com/player/190871/neymar-da-silv...,Brazil,28,91,91,\n\n\n\nParis Saint-Germain,...,High,Medium,5 ★,91,85,86,94,36,59,595

In [8]:
#Exploring the club cloumn
fifa_data['Club'].head(10)

0           \n\n\n\nFC Barcelona
1               \n\n\n\nJuventus
2        \n\n\n\nAtlético Madrid
3        \n\n\n\nManchester City
4    \n\n\n\nParis Saint-Germain
5      \n\n\n\nFC Bayern München
6              \n\n\n\nLiverpool
7              \n\n\n\nLiverpool
8    \n\n\n\nParis Saint-Germain
9           \n\n\n\nFC Barcelona
Name: Club, dtype: object

The Above column Shows that the values are not correctly formatted. ('/n/n/n/n') Needs to be removed

In [9]:
fifa_data['Club'] = fifa_data['Club'].str.replace('[\n\n\n\n]', '', regex=True)
fifa_data['Club'].head()

0           FC Barcelona
1               Juventus
2        Atlético Madrid
3        Manchester City
4    Paris Saint-Germain
Name: Club, dtype: object

### Cleaning the Wage Column

In [10]:
fifa_data["Wage"].unique()

array(['€560K', '€220K', '€125K', '€370K', '€270K', '€240K', '€250K',
       '€160K', '€260K', '€210K', '€310K', '€130K', '€350K', '€300K',
       '€190K', '€145K', '€195K', '€100K', '€140K', '€290K', '€82K',
       '€110K', '€230K', '€155K', '€200K', '€165K', '€95K', '€170K',
       '€105K', '€115K', '€150K', '€135K', '€55K', '€58K', '€81K', '€34K',
       '€120K', '€59K', '€90K', '€65K', '€56K', '€71K', '€18K', '€75K',
       '€47K', '€20K', '€84K', '€86K', '€74K', '€78K', '€27K', '€68K',
       '€85K', '€25K', '€46K', '€83K', '€54K', '€79K', '€175K', '€43K',
       '€49K', '€45K', '€38K', '€41K', '€39K', '€23K', '€51K', '€50K',
       '€87K', '€30K', '€14K', '€69K', '€31K', '€64K', '€53K', '€35K',
       '€21K', '€28K', '€17K', '€33K', '€70K', '€32K', '€89K', '€26K',
       '€40K', '€76K', '€72K', '€48K', '€36K', '€29K', '€60K', '€16K',
       '€37K', '€24K', '€52K', '€0', '€62K', '€73K', '€63K', '€19K',
       '€1K', '€66K', '€80K', '€12K', '€2K', '€42K', '€13K', '€900',
       '€57K', '€77K', '€61K', '€22K', '€67K', '€44K', '€15K', '€11K',
       '€8K', '€850', '€10K', '€88K', '€500', '€7K', '€6K', '€9K', '€5K',
       '€700', '€950', '€750', '€3K', '€650', '€600', '€4K', '€800',
       '€550'], dtype=object)

As we can see In the above unique values under this column, some players earn in hundreds  while some in thousand of euro

We have to be careful while Slicing

In [11]:
fifa_data['Wage'] = fifa_data['Wage'].str.replace('€','')

In [12]:
# Function will clean Column Wage
def convert_wage(val):
    
    if "K" in val:
        value=val.split("K")[0]
        value= int(value)*1000
        return value
    else:
        value= int(val)

        return val

In [13]:
fifa_data['Wage']=fifa_data['Wage'].apply(convert_wage)

In [14]:
fifa_data['Wage'].unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000, 82000, 110000, 230000, 155000,
       200000, 165000, 95000, 170000, 105000, 115000, 150000, 135000,
       55000, 58000, 81000, 34000, 120000, 59000, 90000, 65000, 56000,
       71000, 18000, 75000, 47000, 20000, 84000, 86000, 74000, 78000,
       27000, 68000, 85000, 25000, 46000, 83000, 54000, 79000, 175000,
       43000, 49000, 45000, 38000, 41000, 39000, 23000, 51000, 50000,
       87000, 30000, 14000, 69000, 31000, 64000, 53000, 35000, 21000,
       28000, 17000, 33000, 70000, 32000, 89000, 26000, 40000, 76000,
       72000, 48000, 36000, 29000, 60000, 16000, 37000, 24000, 52000, '0',
       62000, 73000, 63000, 19000, 1000, 66000, 80000, 12000, 2000, 42000,
       13000, '900', 57000, 77000, 61000, 22000, 67000, 44000, 15000,
       11000, 8000, '850', 10000, 88000, '500', 7000, 6000, 9000, 5000,
       '700', '950', '750', 3000, '650', '600', 4000, '800', '550'],
      dtype=object)

In [15]:
### Converting it to the correct datatype(integer)
fifa_data['Wage'] = pd.to_numeric(fifa_data['Wage'])

In [16]:
fifa_data['Wage'].unique()

array([560000, 220000, 125000, 370000, 270000, 240000, 250000, 160000,
       260000, 210000, 310000, 130000, 350000, 300000, 190000, 145000,
       195000, 100000, 140000, 290000,  82000, 110000, 230000, 155000,
       200000, 165000,  95000, 170000, 105000, 115000, 150000, 135000,
        55000,  58000,  81000,  34000, 120000,  59000,  90000,  65000,
        56000,  71000,  18000,  75000,  47000,  20000,  84000,  86000,
        74000,  78000,  27000,  68000,  85000,  25000,  46000,  83000,
        54000,  79000, 175000,  43000,  49000,  45000,  38000,  41000,
        39000,  23000,  51000,  50000,  87000,  30000,  14000,  69000,
        31000,  64000,  53000,  35000,  21000,  28000,  17000,  33000,
        70000,  32000,  89000,  26000,  40000,  76000,  72000,  48000,
        36000,  29000,  60000,  16000,  37000,  24000,  52000,      0,
        62000,  73000,  63000,  19000,   1000,  66000,  80000,  12000,
         2000,  42000,  13000,    900,  57000,  77000,  61000,  22000,
        67000,  44000,  15000,  11000,   8000,    850,  10000,  88000,
          500,   7000,   6000,   9000,   5000,    700,    950,    750,
         3000,    650,    600,   4000,    800,    550], dtype=int64)

In [17]:
#Confirming there are no null values
fifa_data["Wage"].isna().sum()

0

#### Cleaning the value column

In [18]:
fifa_data['Value'].unique()

array(['€103.5M', '€63M', '€120M', '€129M', '€132M', '€111M', '€120.5M',
       '€102M', '€185.5M', '€110M', '€113M', '€90.5M', '€82M', '€17.5M',
       '€83.5M', '€33.5M', '€114.5M', '€78M', '€103M', '€109M', '€92M',
       '€10M', '€76.5M', '€89.5M', '€87.5M', '€79.5M', '€124M', '€114M',
       '€95M', '€92.5M', '€105.5M', '€88.5M', '€85M', '€81.5M', '€26M',
       '€21M', '€56M', '€67.5M', '€53M', '€36.5M', '€51M', '€65.5M',
       '€46.5M', '€61.5M', '€72.5M', '€77.5M', '€43.5M', '€32.5M', '€36M',
       '€32M', '€54M', '€49.5M', '€57M', '€66.5M', '€74.5M', '€71.5M',
       '€121M', '€99M', '€67M', '€86.5M', '€93.5M', '€70M', '€62M',
       '€66M', '€58M', '€44M', '€81M', '€37M', '€14.5M', '€46M', '€47.5M',
       '€52.5M', '€54.5M', '€34.5M', '€57.5M', '€51.5M', '€44.5M', '€55M',
       '€48M', '€60.5M', '€63.5M', '€61M', '€29M', '€58.5M', '€55.5M',
       '€42M', '€40.5M', '€43M', '€45.5M', '€34M', '€26.5M', '€42.5M',
       '€35.5M', '€45M', '€41.5M', '€40M', '€11M', '€13.5M', '€29.5M',
       '€27M', '€15.5M', '€38.5M', '€52M', '€33M', '€19M', '€73.5M',
       '€38M', '€35M', '€47M', '€24M', '€30.5M', '€18M', '€28M', '€25.5M',
       '€25M', '€31M', '€23.5M', '€30M', '€31.5M', '€22.5M', '€28.5M',
       '€4M', '€12.5M', '€37.5M', '€27.5M', '€16M', '€15M', '€20.5M',
       '€22M', '€3.4M', '€5M', '€56.5M', '€62.5M', '€0', '€39M', '€24.5M',
       '€21.5M', '€13M', '€8M', '€20M', '€8.5M', '€2.9M', '€9M', '€4.6M',
       '€50M', '€23M', '€18.5M', '€7M', '€19.5M', '€5.5M', '€7.5M',
       '€3.8M', '€14M', '€10.5M', '€16.5M', '€3.6M', '€9.5M', '€39.5M',
       '€17M', '€12M', '€11.5M', '€4.9M', '€3M', '€1.9M', '€6.5M',
       '€1.7M', '€2.4M', '€3.1M', '€6M', '€3.7M', '€4.7M', '€4.3M',
       '€2.1M', '€1.2M', '€1.8M', '€4.8M', '€3.2M', '€1.3M', '€825K',
       '€2.3M', '€1.5M', '€3.9M', '€2.6M', '€3.5M', '€2.8M', '€2.7M',
       '€4.4M', '€4.1M', '€950K', '€1.6M', '€625K', '€1.1M', '€4.5M',
       '€4.2M', '€2.2M', '€3.3M', '€1.4M', '€2M', '€475K', '€925K',
       '€750K', '€725K', '€2.5M', '€1M', '€350K', '€525K', '€600K',
       '€850K', '€800K', '€550K', '€250K', '€400K', '€425K', '€575K',
       '€210K', '€325K', '€900K', '€875K', '€650K', '€700K', '€500K',
       '€975K', '€375K', '€775K', '€275K', '€180K', '€450K', '€675K',
       '€150K', '€240K', '€300K', '€130K', '€220K', '€200K', '€110K',
       '€170K', '€230K', '€90K', '€120K', '€80K', '€190K', '€140K',
       '€160K', '€100K', '€60K', '€50K', '€70K', '€45K', '€35K', '€40K',
       '€25K', '€20K', '€15K', '€30K', '€9K'], dtype=object)

The above column has almost the same issues as the above column but in a slightly different way

In [19]:
fifa_data['Value'] = fifa_data['Value'].str.replace('€','')

In [20]:
def convert_value(val):
    
    if 'M' in val:
        # We split val by space and then extract using the index of the vl
        x=float(val.split('M')[0])
        # After extracting number fron val, we multiply by 1000000
        return int(x*1000000)

    elif 'K' in val:
        x=float(val.split('K')[0])
        # After extracting number fron val, we multiply by 1000000
        return int(x*1000)
    else:
        return int(val)

In [21]:
#Applying the above created function on the value column
fifa_data['Value'] = fifa_data['Value'].apply(convert_value)

In [22]:
fifa_data['Value'].unique()

array([103500000,  63000000, 120000000, 129000000, 132000000, 111000000,
       120500000, 102000000, 185500000, 110000000, 113000000,  90500000,
        82000000,  17500000,  83500000,  33500000, 114500000,  78000000,
       103000000, 109000000,  92000000,  10000000,  76500000,  89500000,
        87500000,  79500000, 124000000, 114000000,  95000000,  92500000,
       105500000,  88500000,  85000000,  81500000,  26000000,  21000000,
        56000000,  67500000,  53000000,  36500000,  51000000,  65500000,
        46500000,  61500000,  72500000,  77500000,  43500000,  32500000,
        36000000,  32000000,  54000000,  49500000,  57000000,  66500000,
        74500000,  71500000, 121000000,  99000000,  67000000,  86500000,
        93500000,  70000000,  62000000,  66000000,  58000000,  44000000,
        81000000,  37000000,  14500000,  46000000,  47500000,  52500000,
        54500000,  34500000,  57500000,  51500000,  44500000,  55000000,
        48000000,  60500000,  63500000,  61000000,  29000000,  58500000,
        55500000,  42000000,  40500000,  43000000,  45500000,  34000000,
        26500000,  42500000,  35500000,  45000000,  41500000,  40000000,
        11000000,  13500000,  29500000,  27000000,  15500000,  38500000,
        52000000,  33000000,  19000000,  73500000,  38000000,  35000000,
        47000000,  24000000,  30500000,  18000000,  28000000,  25500000,
        25000000,  31000000,  23500000,  30000000,  31500000,  22500000,
        28500000,   4000000,  12500000,  37500000,  27500000,  16000000,
        15000000,  20500000,  22000000,   3400000,   5000000,  56500000,
        62500000,         0,  39000000,  24500000,  21500000,  13000000,
         8000000,  20000000,   8500000,   2900000,   9000000,   4600000,
        50000000,  23000000,  18500000,   7000000,  19500000,   5500000,
         7500000,   3800000,  14000000,  10500000,  16500000,   3600000,
         9500000,  39500000,  17000000,  12000000,  11500000,   4900000,
         3000000,   1900000,   6500000,   1700000,   2400000,   3100000,
         6000000,   3700000,   4700000,   4300000,   2100000,   1200000,
         1800000,   4800000,   3200000,   1300000,    825000,   2300000,
         1500000,   3900000,   2600000,   3500000,   2800000,   2700000,
         4400000,   4099999,    950000,   1600000,    625000,   1100000,
         4500000,   4200000,   2200000,   3300000,   1400000,   2000000,
          475000,    925000,    750000,    725000,   2500000,   1000000,
          350000,    525000,    600000,    850000,    800000,    550000,
          250000,    400000,    425000,    575000,    210000,    325000,
          900000,    875000,    650000,    700000,    500000,    975000,
          375000,    775000,    275000,    180000,    450000,    675000,
          150000,    240000,    300000,    130000,    220000,    200000,
          110000,    170000,    230000,     90000,    120000,     80000,
          190000,    140000,    160000,    100000,     60000,     50000,
           70000,     45000,     35000,     40000,     25000,     20000,
           15000,     30000,      9000], dtype=int64)

In [23]:
##confirming there are no null values
fifa_data["Value"].isna().sum()

0

### Cleaning the Release clause column

In [24]:
fifa_data["Release Clause"].unique()

array(['€138.4M', '€75.9M', '€159.4M', ..., '€59K', '€35K', '€64K'],
      dtype=object)

In [25]:
fifa_data['Release Clause'] = fifa_data['Release Clause'].str.replace('€','')

In [26]:
fifa_data['Release Clause'] = fifa_data['Release Clause'].apply(convert_value)

In [27]:
fifa_data["Release Clause"].unique()

array([138400000,  75900000, 159400000, ...,     59000,     35000,
           64000], dtype=int64)

In [28]:
### Confirming that there are no null values
fifa_data["Release Clause"].isna().sum()

0

#### Handling The Hits column

In [73]:
fifa_data['Hits'].unique()

array(['771', '562', '150', '207', '595', '248', '246', '120', '1.6K',
       '130', '321', '189', '175', '96', '118', '216', '212', '154',
       '205', '202', '339', '408', '103', '332', '86', '173', '161',
       '396', '1.1K', '433', '242', '206', '177', '1.5K', '198', '459',
       '117', '119', '209', '84', '187', '165', '203', '65', '336', '126',
       '313', '124', '145', '538', '182', '101', '45', '377', '99', '194',
       '403', '414', '593', '374', '245', '3.2K', '266', '299', '309',
       '215', '265', '211', '112', '337', '70', '159', '688', '116', '63',
       '144', '123', '71', '224', '113', '168', '61', '89', '137', '278',
       '75', '148', '176', '197', '264', '214', '247', '402', '440',
       '1.7K', '2.3K', '171', '320', '657', '87', '259', '200', '255',
       '253', '196', '60', '97', '85', '169', '256', '132', '239', '166',
       '121', '109', '32', '46', '122', '48', '527', '199', '282', '51',
       '1.9K', '642', '155', '323', '288', '497', '509', '79', '49',
       '270', '511', '80', '128', '115', '156', '204', '143', '140',
       '152', '220', '134', '225', '94', '74', '135', '142', '50', '77',
       '40', '107', '193', '179', '34', '64', '453', '57', '81', '28',
       '78', '133', '43', '425', '88', '42', '36', '233', '376', '210',
       '444', '100', '263', '98', '29', '160', '39', '257', '6', '310',
       '138', '62', '293', '285', '362', '66', '69', '58', '21', '20',
       '131', '38', '406', '68', '108', '110', '93', '512', '443', '306',
       '352', '422', '585', '346', '178', '841', '76', '394', '72', '172',
       '44', '407', '230', '367', '295', '157', '243', '56', '111', '326',
       '679', '18', '92', '59', '25', '184', '53', '12', '90', '55', '73',
       '11', '566', '180', '83', '262', '17', '26', '31', '280', '359',
       '213', '297', '387', '480', '381', '677', '486', '8', '244', '129',
       '388', '275', '319', '2K', '52', '91', '421', '153', '27', '41',
       '222', '35', '102', '23', '30', '33', '146', '13', '19', '14',
       '106', '276', '568', '353', '47', '478', '249', '254', '369',
       '219', '565', '237', '227', '434', '375', '162', '605', '654', '3',
       '7', '9', '104', '114', '186', '446', '756', '22', '139', '500',
       '67', '147', '149', '16', '82', '54', '37', '15', '1.3K', '3K',
       '952', '5', '749', '541', '330', '393', '517', '770', '409', '170',
       '125', '283', '342', '363', '580', '105', '217', '24', '141', '10',
       '427', '158', '426', '4', '666', '181', '324', '979', '1.4K',
       '302', '751', '298', '411', '944', '2', '947', '292', '349', '621',
       '1', '2.8K', '338', '287', '261', '218', '1.8K', '240', '279',
       '229', '188', '315', '664', '613', '190', '706', '127', '462',
       '386', '695', '491', '167', '281', '250', '307', '95', '231',
       '174', '680', '633', '221', '348', '602', '183', '653', '195',
       '164', '151', '258', '8.4K', '343', '419', '655', '136', '399',
       '531', '357', '228', '385', '312', '340', '238', '487', '355',
       '499', '4.3K', '296', '515', '943', '1.2K', '903', '335', '191',
       '594', '267', '617', '516', '504', '331', '652', '410', '550',
       '473', '442', '344', '208', '1K', '2.5K', '273', '485', '826',
       '192', '405', '941', '477', '644', '303', '417', '6K', nan, 11.0,
       2.0, 1.0, 31.0, 3.0, 10.0, 9.0, 17.0, 7.0, 4.0, 6.0], dtype=object)

The values are not neatly formatted and not in the correct data type. The colunn also contains null values

In [76]:
fifa_data['Hits'] = fifa_data['Hits'].fillna(0)
fifa_data['Hits'].isnull().sum()

0

In [78]:
#function for converting 'K' to thousand
def hit_func(val):
    if "K" in str(val):
        val=val.replace("K","")
        return int(float(val)*1000)
    else:
        return int(val)

In [79]:
fifa_data['Hits'] = fifa_data['Hits'].apply(hit_func)

In [82]:
fifa_data['Hits'].unique()

array([ 771,  562,  150,  207,  595,  248,  246,  120, 1600,  130,  321,
        189,  175,   96,  118,  216,  212,  154,  205,  202,  339,  408,
        103,  332,   86,  173,  161,  396, 1100,  433,  242,  206,  177,
       1500,  198,  459,  117,  119,  209,   84,  187,  165,  203,   65,
        336,  126,  313,  124,  145,  538,  182,  101,   45,  377,   99,
        194,  403,  414,  593,  374,  245, 3200,  266,  299,  309,  215,
        265,  211,  112,  337,   70,  159,  688,  116,   63,  144,  123,
         71,  224,  113,  168,   61,   89,  137,  278,   75,  148,  176,
        197,  264,  214,  247,  402,  440, 1700, 2300,  171,  320,  657,
         87,  259,  200,  255,  253,  196,   60,   97,   85,  169,  256,
        132,  239,  166,  121,  109,   32,   46,  122,   48,  527,  199,
        282,   51, 1900,  642,  155,  323,  288,  497,  509,   79,   49,
        270,  511,   80,  128,  115,  156,  204,  143,  140,  152,  220,
        134,  225,   94,   74,  135,  142,   50,   77,   40,  107,  193,
        179,   34,   64,  453,   57,   81,   28,   78,  133,   43,  425,
         88,   42,   36,  233,  376,  210,  444,  100,  263,   98,   29,
        160,   39,  257,    6,  310,  138,   62,  293,  285,  362,   66,
         69,   58,   21,   20,  131,   38,  406,   68,  108,  110,   93,
        512,  443,  306,  352,  422,  585,  346,  178,  841,   76,  394,
         72,  172,   44,  407,  230,  367,  295,  157,  243,   56,  111,
        326,  679,   18,   92,   59,   25,  184,   53,   12,   90,   55,
         73,   11,  566,  180,   83,  262,   17,   26,   31,  280,  359,
        213,  297,  387,  480,  381,  677,  486,    8,  244,  129,  388,
        275,  319, 2000,   52,   91,  421,  153,   27,   41,  222,   35,
        102,   23,   30,   33,  146,   13,   19,   14,  106,  276,  568,
        353,   47,  478,  249,  254,  369,  219,  565,  237,  227,  434,
        375,  162,  605,  654,    3,    7,    9,  104,  114,  186,  446,
        756,   22,  139,  500,   67,  147,  149,   16,   82,   54,   37,
         15, 1300, 3000,  952,    5,  749,  541,  330,  393,  517,  770,
        409,  170,  125,  283,  342,  363,  580,  105,  217,   24,  141,
         10,  427,  158,  426,    4,  666,  181,  324,  979, 1400,  302,
        751,  298,  411,  944,    2,  947,  292,  349,  621,    1, 2800,
        338,  287,  261,  218, 1800,  240,  279,  229,  188,  315,  664,
        613,  190,  706,  127,  462,  386,  695,  491,  167,  281,  250,
        307,   95,  231,  174,  680,  633,  221,  348,  602,  183,  653,
        195,  164,  151,  258, 8400,  343,  419,  655,  136,  399,  531,
        357,  228,  385,  312,  340,  238,  487,  355,  499, 4300,  296,
        515,  943, 1200,  903,  335,  191,  594,  267,  617,  516,  504,
        331,  652,  410,  550,  473,  442,  344,  208, 1000, 2500,  273,
        485,  826,  192,  405,  941,  477,  644,  303,  417, 6000,    0],
      dtype=int64)

### Dealing with the contract column

In [29]:
fifa_data["Contract"].unique()

array(['2004 ~ 2021', '2018 ~ 2022', '2014 ~ 2023', '2015 ~ 2023',
       '2017 ~ 2022', '2017 ~ 2023', '2018 ~ 2024', '2014 ~ 2022',
       '2018 ~ 2023', '2016 ~ 2023', '2013 ~ 2023', '2011 ~ 2023',
       '2009 ~ 2022', '2005 ~ 2021', '2011 ~ 2021', '2015 ~ 2022',
       '2017 ~ 2024', '2010 ~ 2024', '2012 ~ 2021', '2019 ~ 2024',
       '2015 ~ 2024', '2017 ~ 2025', '2020 ~ 2025', '2019 ~ 2023',
       '2008 ~ 2023', '2015 ~ 2021', '2020 ~ 2022', '2012 ~ 2022',
       '2016 ~ 2025', '2013 ~ 2022', '2011 ~ 2022', '2012 ~ 2024',
       '2016 ~ 2021', '2012 ~ 2023', '2008 ~ 2022', '2019 ~ 2022',
       '2017 ~ 2021', '2013 ~ 2024', '2020 ~ 2024', '2010 ~ 2022',
       '2020 ~ 2021', '2011 ~ 2024', '2020 ~ 2023', '2014 ~ 2024',
       '2013 ~ 2026', '2016 ~ 2022', '2010 ~ 2021', '2013 ~ 2021',
       '2019 ~ 2025', '2018 ~ 2025', '2016 ~ 2024', '2018 ~ 2021',
       '2009 ~ 2024', '2007 ~ 2022', 'Jun 30, 2021 On Loan',
       '2009 ~ 2021', '2019 ~ 2021', '2019 ~ 2026', 'Free', '2012 ~ 2028',
       '2010 ~ 2023', '2014 ~ 2021', '2015 ~ 2025', '2014 ~ 2026',
       '2012 ~ 2025', '2017 ~ 2020', '2002 ~ 2022', '2020 ~ 2027',
       '2013 ~ 2025', 'Dec 31, 2020 On Loan', '2019 ~ 2020',
       '2011 ~ 2025', '2016 ~ 2020', '2007 ~ 2021', '2020 ~ 2026',
       '2010 ~ 2025', '2009 ~ 2023', '2008 ~ 2021', '2020 ~ 2020',
       '2016 ~ 2026', 'Jan 30, 2021 On Loan', '2012 ~ 2020',
       '2014 ~ 2025', 'Jun 30, 2022 On Loan', '2015 ~ 2020',
       'May 31, 2021 On Loan', '2018 ~ 2020', '2014 ~ 2020',
       '2013 ~ 2020', '2006 ~ 2024', 'Jul 5, 2021 On Loan',
       'Dec 31, 2021 On Loan', '2004 ~ 2025', '2011 ~ 2020',
       'Jul 1, 2021 On Loan', 'Jan 1, 2021 On Loan', '2006 ~ 2023',
       'Aug 31, 2021 On Loan', '2006 ~ 2021', '2005 ~ 2023',
       '2003 ~ 2020', '2009 ~ 2020', '2002 ~ 2020', '2005 ~ 2020',
       '2005 ~ 2022', 'Jan 31, 2021 On Loan', '2010 ~ 2020',
       'Dec 30, 2021 On Loan', '2008 ~ 2020', '2007 ~ 2020',
       '2003 ~ 2021', 'Jun 23, 2021 On Loan', 'Jan 3, 2021 On Loan',
       'Nov 27, 2021 On Loan', '2002 ~ 2021', 'Jan 17, 2021 On Loan',
       'Jun 30, 2023 On Loan', '1998 ~ 2021', '2003 ~ 2022',
       '2007 ~ 2023', 'Jul 31, 2021 On Loan', 'Nov 22, 2020 On Loan',
       'May 31, 2022 On Loan', '2006 ~ 2020', 'Dec 30, 2020 On Loan',
       '2007 ~ 2025', 'Jan 4, 2021 On Loan', 'Nov 30, 2020 On Loan',
       '2004 ~ 2020', '2009 ~ 2025', 'Aug 1, 2021 On Loan'], dtype=object)

In the above column it can be seen that some players were bought while some were free and others were on loan it would be better to create a new column for categorizing them

In [30]:
def player_status(val):
    val = val.split(" ")
    if 'Free' in val:
        return "Free"
    elif "Loan" in val:
        return "Loan"
    elif "~" in val:
        return 'Contract'

### Using the function above to apply on the new column

In [31]:
fifa_data['Status'] = fifa_data['Contract'].apply(player_status)

In [32]:
fifa_data['Status'].unique()

array(['Contract', 'Loan', 'Free'], dtype=object)

 Now I want to move the position of the Player status close to the contract column

In [33]:
fifa_data.insert(loc=11, column='Player Status', value=fifa_data['Status'])

In [34]:
fifa_data.drop('Status', axis=1, inplace=True)

for confirmation.....

In [35]:
fifa_data.iloc[:, 10:15].head(30)

       Contract Player Status    Positions Height Weight
0   2004 ~ 2021      Contract   RW, ST, CF  170cm   72kg
1   2018 ~ 2022      Contract       ST, LW  187cm   83kg
2   2014 ~ 2023      Contract           GK  188cm   87kg
3   2015 ~ 2023      Contract      CAM, CM  181cm   70kg
4   2017 ~ 2022      Contract      LW, CAM  175cm   68kg
5   2014 ~ 2023      Contract           ST  184cm   80kg
6   2017 ~ 2023      Contract           RW  175cm   71kg
7   2018 ~ 2024      Contract           GK  191cm   91kg
8   2018 ~ 2022      Contract   ST, LW, RW  178cm   73kg
9   2014 ~ 2022      Contract           GK  187cm   85kg
10  2018 ~ 2023      Contract           CB  193cm   92kg
11  2016 ~ 2023      Contract           LW  175cm   69kg
12  2013 ~ 2023      Contract          CDM  185cm   84kg
13  2018 ~ 2024      Contract           GK  199cm   96kg
14  2011 ~ 2023      Contract           GK  193cm   92kg
15  2009 ~ 2022      Contract       CF, ST  185cm   81kg
16  2005 ~ 2021      Contract           CB  184cm   82kg
17  2011 ~ 2021      Contract           ST  173cm   70kg
18  2015 ~ 2023      Contract       LW, RW  170cm   69kg
19  2016 ~ 2023      Contract      CDM, CM  168cm   70kg
20  2015 ~ 2023      Contract      CDM, RB  176cm   73kg
21  2015 ~ 2022      Contract      CF, CAM  177cm   75kg
22  2017 ~ 2024      Contract           GK  188cm   86kg
23  2010 ~ 2024      Contract           ST  188cm   89kg
24  2012 ~ 2021      Contract           GK  193cm   92kg
25  2014 ~ 2023      Contract           CB  187cm   89kg
26  2019 ~ 2024      Contract       LW, ST  175cm   74kg
27  2014 ~ 2023      Contract           CM  183cm   76kg
28  2019 ~ 2024      Contract   ST, CF, LW  176cm   73kg
29  2017 ~ 2023      Contract  RM, LM, CAM  180cm   76kg

In [36]:
fifa_data['Player Status'].unique()

array(['Contract', 'Loan', 'Free'], dtype=object)

#### Creating New Column "Contract_end"

In [37]:
# Function create new column "Contract_end" for every player 
def convert_contract(val):
    # We split values into list by space
    val= val.split(" ")
    if 'Free' in val:
        return val[0]
    elif "Loan" in val:
        return val[2]
    elif "~" in val:
        return val[2]

In [38]:
fifa_data['end_year'] = fifa_data["Contract"].apply(convert_contract)

In [39]:
fifa_data['end_year'].unique()

array(['2021', '2022', '2023', '2024', '2025', '2026', 'Free', '2028',
       '2020', '2027'], dtype=object)

In [40]:
fifa_data.insert(loc=12, column='Contract end', value=fifa_data['end_year'])

In [41]:
fifa_data['Contract end'].unique()

array(['2021', '2022', '2023', '2024', '2025', '2026', 'Free', '2028',
       '2020', '2027'], dtype=object)

In [42]:
fifa_data.drop('end_year', axis=1, inplace=True)

In [43]:
fifa_data.iloc[:, 10:15].head(30)

       Contract Player Status Contract end    Positions Height
0   2004 ~ 2021      Contract         2021   RW, ST, CF  170cm
1   2018 ~ 2022      Contract         2022       ST, LW  187cm
2   2014 ~ 2023      Contract         2023           GK  188cm
3   2015 ~ 2023      Contract         2023      CAM, CM  181cm
4   2017 ~ 2022      Contract         2022      LW, CAM  175cm
5   2014 ~ 2023      Contract         2023           ST  184cm
6   2017 ~ 2023      Contract         2023           RW  175cm
7   2018 ~ 2024      Contract         2024           GK  191cm
8   2018 ~ 2022      Contract         2022   ST, LW, RW  178cm
9   2014 ~ 2022      Contract         2022           GK  187cm
10  2018 ~ 2023      Contract         2023           CB  193cm
11  2016 ~ 2023      Contract         2023           LW  175cm
12  2013 ~ 2023      Contract         2023          CDM  185cm
13  2018 ~ 2024      Contract         2024           GK  199cm
14  2011 ~ 2023      Contract         2023           GK  193cm
15  2009 ~ 2022      Contract         2022       CF, ST  185cm
16  2005 ~ 2021      Contract         2021           CB  184cm
17  2011 ~ 2021      Contract         2021           ST  173cm
18  2015 ~ 2023      Contract         2023       LW, RW  170cm
19  2016 ~ 2023      Contract         2023      CDM, CM  168cm
20  2015 ~ 2023      Contract         2023      CDM, RB  176cm
21  2015 ~ 2022      Contract         2022      CF, CAM  177cm
22  2017 ~ 2024      Contract         2024           GK  188cm
23  2010 ~ 2024      Contract         2024           ST  188cm
24  2012 ~ 2021      Contract         2021           GK  193cm
25  2014 ~ 2023      Contract         2023           CB  187cm
26  2019 ~ 2024      Contract         2024       LW, ST  175cm
27  2014 ~ 2023      Contract         2023           CM  183cm
28  2019 ~ 2024      Contract         2024   ST, CF, LW  176cm
29  2017 ~ 2023      Contract         2023  RM, LM, CAM  180cm

Creating new column "Contract_start"

In [44]:
fifa_data["Joined"].unique()

array(['Jul 1, 2004', 'Jul 10, 2018', 'Jul 16, 2014', ..., 'Sep 22, 2018',
       'Feb 28, 2015', 'Mar 6, 2018'], dtype=object)

In [45]:
# Function create new column "Contract_start" for every player 
def convert_contract(val):
    val= val.split(" ")
    return val[-1]

In [46]:
fifa_data["start_year"]= fifa_data["Joined"].apply(convert_contract)

In [47]:
fifa_data["start_year"].unique()

array(['2004', '2018', '2014', '2015', '2017', '2016', '2013', '2011',
       '2009', '2005', '2010', '2012', '2019', '2020', '2008', '2007',
       '2002', '2006', '2003', '1998'], dtype=object)

In [48]:
fifa_data["start_year"] = pd.to_numeric(fifa_data["start_year"])

In [49]:
# converting to an numeric data type
fifa_data["start_year"].unique()

array([2004, 2018, 2014, 2015, 2017, 2016, 2013, 2011, 2009, 2005, 2010,
       2012, 2019, 2020, 2008, 2007, 2002, 2006, 2003, 1998], dtype=int64)

In [50]:
fifa_data.insert(loc=13, column='Contract Start', value=fifa_data['start_year'])

In [51]:
fifa_data.drop('start_year', axis=1, inplace=True)

In [52]:
fifa_data.iloc[:, 10:15].head(30)

       Contract Player Status Contract end  Contract Start    Positions
0   2004 ~ 2021      Contract         2021            2004   RW, ST, CF
1   2018 ~ 2022      Contract         2022            2018       ST, LW
2   2014 ~ 2023      Contract         2023            2014           GK
3   2015 ~ 2023      Contract         2023            2015      CAM, CM
4   2017 ~ 2022      Contract         2022            2017      LW, CAM
5   2014 ~ 2023      Contract         2023            2014           ST
6   2017 ~ 2023      Contract         2023            2017           RW
7   2018 ~ 2024      Contract         2024            2018           GK
8   2018 ~ 2022      Contract         2022            2018   ST, LW, RW
9   2014 ~ 2022      Contract         2022            2014           GK
10  2018 ~ 2023      Contract         2023            2018           CB
11  2016 ~ 2023      Contract         2023            2016           LW
12  2013 ~ 2023      Contract         2023            2013          CDM
13  2018 ~ 2024      Contract         2024            2018           GK
14  2011 ~ 2023      Contract         2023            2011           GK
15  2009 ~ 2022      Contract         2022            2009       CF, ST
16  2005 ~ 2021      Contract         2021            2005           CB
17  2011 ~ 2021      Contract         2021            2011           ST
18  2015 ~ 2023      Contract         2023            2015       LW, RW
19  2016 ~ 2023      Contract         2023            2016      CDM, CM
20  2015 ~ 2023      Contract         2023            2015      CDM, RB
21  2015 ~ 2022      Contract         2022            2015      CF, CAM
22  2017 ~ 2024      Contract         2024            2017           GK
23  2010 ~ 2024      Contract         2024            2010           ST
24  2012 ~ 2021      Contract         2021            2012           GK
25  2014 ~ 2023      Contract         2023            2014           CB
26  2019 ~ 2024      Contract         2024            2019       LW, ST
27  2014 ~ 2023      Contract         2023            2014           CM
28  2019 ~ 2024      Contract         2024            2019   ST, CF, LW
29  2017 ~ 2023      Contract         2023            2017  RM, LM, CAM

### We are now free to drop some columns which are not relevant

In [53]:
fifa_data = fifa_data.drop(['Contract', 'Loan Date End' , 'Joined'], axis=1)

In [54]:
my_list = list(fifa_data)
my_list
# Getting a List of all the columns and assigning them to a variable

['ID',
 'Name',
 'LongName',
 'photoUrl',
 'playerUrl',
 'Nationality',
 'Age',
 '↓OVA',
 'POT',
 'Club',
 'Player Status',
 'Contract end',
 'Contract Start',
 'Positions',
 'Height',
 'Weight',
 'Preferred Foot',
 'BOV',
 'Best Position',
 'Value',
 'Wage',
 'Release Clause',
 'Attacking',
 'Crossing',
 'Finishing',
 'Heading Accuracy',
 'Short Passing',
 'Volleys',
 'Skill',
 'Dribbling',
 'Curve',
 'FK Accuracy',
 'Long Passing',
 'Ball Control',
 'Movement',
 'Acceleration',
 'Sprint Speed',
 'Agility',
 'Reactions',
 'Balance',
 'Power',
 'Shot Power',
 'Jumping',
 'Stamina',
 'Strength',
 'Long Shots',
 'Mentality',
 'Aggression',
 'Interceptions',
 'Positioning',
 'Vision',
 'Penalties',
 'Composure',
 'Defending',
 'Marking',
 'Standing Tackle',
 'Sliding Tackle',
 'Goalkeeping',
 'GK Diving',
 'GK Handling',
 'GK Kicking',
 'GK Positioning',
 'GK Reflexes',
 'Total Stats',
 'Base Stats',
 'W/F',
 'SM',
 'A/W',
 'D/W',
 'IR',
 'PAC',
 'SHO',
 'PAS',
 'DRI',
 'DEF',
 'PHY',
 'Hits']

Removing star symbol from column W/F,SM and IP

In [55]:
fifa_data.loc[:,["SM","IR",'W/F']]

       SM   IR  W/F
0      4★  5 ★  4 ★
1      5★  5 ★  4 ★
2      1★  3 ★  3 ★
3      4★  4 ★  5 ★
4      5★  5 ★  5 ★
...    ..  ...  ...
18974  2★  1 ★  2 ★
18975  2★  1 ★  2 ★
18976  2★  1 ★  2 ★
18977  2★  1 ★  3 ★
18978  2★  1 ★  3 ★

[18979 rows x 3 columns]

In [56]:
# Function to remove star
def star_remove(val):
    s = [int(s) for s in re.findall(r'[0-9]+', val)]
    return s[0]

Applying function to the necessary columns

In [57]:
fifa_data['W/F'] = fifa_data['W/F'].apply(star_remove)
fifa_data['IR']  = fifa_data['IR'].apply(star_remove)
fifa_data['SM']  = fifa_data['SM'].apply(star_remove)

Converting them to pandas numeric datatype

In [60]:
fifa_data['W/F'] = pd.to_numeric(fifa_data['W/F'])

In [61]:
fifa_data['IR'] = pd.to_numeric(fifa_data['IR'])

In [62]:
fifa_data['SM'] = pd.to_numeric(fifa_data['SM'])

Going through the player url column

In [64]:
fifa_data['playerUrl'].unique()

array(['http://sofifa.com/player/158023/lionel-messi/210006/',
       'http://sofifa.com/player/20801/c-ronaldo-dos-santos-aveiro/210006/',
       'http://sofifa.com/player/200389/jan-oblak/210006/', ...,
       'http://sofifa.com/player/252757/ronan-mckinley/210006/',
       'http://sofifa.com/player/243790/zhenao-wang/210006/',
       'http://sofifa.com/player/252520/xiao-zhou/210006/'], dtype=object)

In [66]:
# Renaming columns
fifa_data.rename(columns= {"photoUrl":"Photo URL","↓OVA": "Overall", "POT":"Potential","BOV":"Best Overall Rating", 
                    "W/F":"Weak Foot Ability", "SM":"Skill Move","A/W":"Attack WR","D/W":"Defensive WR",
                   "IR":"Injury Resistance", "PAC":"Pace", "SHO":"Shooting",
                   "PAS":"Passing Ability", "DRI":"Dribbling Ability","PHY":"Physical Ability", 
                    "Contract_end": "Contract Valid Till", "Contract_start":"Contract Start", 
                    "DEF":"Defensive Ability"}, inplace=True)

In [83]:
fifa_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   18979 non-null  int64
 1   Name                 18979 non-null  object
 2   LongName             18979 non-null  object
 3   Photo URL            18979 non-null  object
 4   playerUrl            18979 non-null  object
 5   Nationality          18979 non-null  object
 6   Age                  18979 non-null  int64
 7   Overall              18979 non-null  int64
 8   Potential            18979 non-null  int64
 9   Club                 18979 non-null  object
 10  Player Status        18979 non-null  object
 11  Contract end         18979 non-null  object
 12  Contract Start       18979 non-null  int64
 13  Positions            18979 non-null  object
 14  Height               18979 non-null  object
 15  Weight               18979 non-null  object
 16  Preferred Foot       18979 non-null  object
 17  Best Overall Rating  18979 non-null  int64
 18  Best Position        18979 non-null  object
 19  Value                18979 non-null  int64
 20  Wage                 18979 non-null  int64
 21  Release Clause       18979 non-null  int64
 22  Attacking            18979 non-null  int64
 23  Crossing             18979 non-null  int64
 24  Finishing            18979 non-null  int64
 25  Heading Accuracy     18979 non-null  int64
 26  Short Passing        18979 non-null  int64
 27  Volleys              18979 non-null  int64
 28  Skill                18979 non-null  int64
 29  Dribbling            18979 non-null  int64
 30  Curve                18979 non-null  int64
 31  FK Accuracy          18979 non-null  int64
 32  Long Passing         18979 non-null  int64
 33  Ball Control         18979 non-null  int64
 34  Movement             18979 non-null  int64
 35  Acceleration         18979 non-null  int64
 36  Sprint Speed         18979 non-null  int64
 37  Agility              18979 non-null  int64
 38  Reactions            18979 non-null  int64
 39  Balance              18979 non-null  int64
 40  Power                18979 non-null  int64
 41  Shot Power           18979 non-null  int64
 42  Jumping              18979 non-null  int64
 43  Stamina              18979 non-null  int64
 44  Strength             18979 non-null  int64
 45  Long Shots           18979 non-null  int64
 46  Mentality            18979 non-null  int64
 47  Aggression           18979 non-null  int64
 48  Interceptions        18979 non-null  int64
 49  Positioning          18979 non-null  int64
 50  Vision               18979 non-null  int64
 51  Penalties            18979 non-null  int64
 52  Composure            18979 non-null  int64
 53  Defending            18979 non-null  int64
 54  Marking              18979 non-null  int64
 55  Standing Tackle      18979 non-null  int64
 56  Sliding Tackle       18979 non-null  int64
 57  Goalkeeping          18979 non-null  int64
 58  GK Diving            18979 non-null  int64
 59  GK Handling          18979 non-null  int64
 60  GK Kicking           18979 non-null  int64
 61  GK Positioning       18979 non-null  int64
 62  GK Reflexes          18979 non-null  int64
 63  Total Stats          18979 non-null  int64
 64  Base Stats           18979 non-null  int64
 65  Weak Foot Ability    18979 non-null  int64
 66  Skill Move           18979 non-null  int64
 67  Attack WR            18979 non-null  object
 68  Defensive WR         18979 non-null  object
 69  Injury Resistance    18979 non-null  int64
 70  Pace                 18979 non-null  int64
 71  Shooting             18979 non-null  int64
 72  Passing Ability      18979 non-null  int64
 73  Dribbling Ability    18979 non-null  int64
 74  Defensive Ability    18979 non-null  int64
 75  Physical Ability     18979 non-null  int64
 76  Hits                 18979 non-null  int64
dtypes: int64(62), object(15)
memory usage: 11.1+ MB

### Now that the data is cleaned we can now read out our clean CSV file

In [85]:
fifa_data.to_csv("Clean FIFA21 dataset.csv")

### Thank you!